[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
dbt-rpc-client = {path = ".", editable = true}
isort = "*"
flake8 = "*"
responses = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
tox = "*"

[requires]

[pipenv]
